<!DOCTYPE html>
<html lang="<%= locale %>">

<% include partials/head_i18n.ejs %>


    <body>
        <div class="ui container" style="color: azure; background-color: black;">
            <% include partials/header_i18n.ejs %>
            <% include partials/disclaimer.ejs %>
            <div style="text-align: right; padding: 10px;">
                <a href="/?lang=<%= locale === 'en' ? 'zh' : 'en' %>" class="ui basic small button">
                    🌐 <%= locale === 'en' ? '简体中文' : 'English' %>
                </a>
            </div> 
                <div class="ui segment">

                    <h3 class="ui grey dividing header"><%= locale === 'zh' ? '在线设备' : 'Online Devices' %></h3>

                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th><%= locale === 'zh' ? '设备ID' : 'Device ID' %></th>
                                <th><%= locale === 'zh' ? '国家' : 'Country' %></th>
                                <th>IP</th>
                                <th><%= locale === 'zh' ? '设备型号' : 'Device Model' %></th>
                                <th><%= locale === 'zh' ? '最后在线' : 'Last Seen' %></th>
                                <th><%= locale === 'zh' ? '管理' : 'Manage' %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clientsOnline.forEach((item) => { 
                       let lsdate = new Date(item.lastSeen);
                       let flagCss = (item.dynamicData.clientGeo.country !== undefined) ? ('flag ' + item.dynamicData.clientGeo.country).toLowerCase() : 'icon question mark' 
                       let deviceStr = '';
                       deviceStr += (item.dynamicData.device.manufacture !== undefined) ? item.dynamicData.device.manufacture :  ''; 
                       deviceStr += (item.dynamicData.device.model !== undefined) ? ' (' + item.dynamicData.device.model + ')' :  ''; 
                       %>
                                <tr>
                                    <td class="collapsing">
                                        <%= item.clientID %>
                                    </td>
                                    <td class="collapsing"><i class="<%= flagCss %>"></i></td>
                                    <td class="collapsing">
                                        <%= item.dynamicData.clientIP %>
                                    </td>
                                    <td>
                                        <%= deviceStr %>
                                    </td>
                                    <td class="collapsing">
                                        <%= lsdate.toLocaleString('en-GB', { timeZone: 'UTC' }) %>
                                    </td>
                                    <td class="collapsing"><a href="/manage/<%= item.clientID %>/info&lang=<%= locale %>" class="ui button blue"><%= locale === 'zh' ? '管理' : 'Manage' %></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>


                    <h3 class="ui grey dividing header"><%= locale === 'zh' ? '离线设备' : 'Offline Devices' %></h3>
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th><%= locale === 'zh' ? '设备ID' : 'Device ID' %></th>
                                <th><%= locale === 'zh' ? '国家' : 'Country' %></th>
                                <th>IP</th>
                                <th><%= locale === 'zh' ? '设备型号' : 'Device Model' %></th>
                                <th><%= locale === 'zh' ? '最后在线' : 'Last Seen' %></th>
                                <th><%= locale === 'zh' ? '管理' : 'Manage' %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clientsOffline.forEach((item) => { 
                       let lsdate = new Date(item.lastSeen);
                       let flagCss = (item.dynamicData.clientGeo.country !== undefined) ? ('flag ' + item.dynamicData.clientGeo.country).toLowerCase() : 'icon question mark' 
                       let deviceStr = '';
                       deviceStr += (item.dynamicData.device.manufacture !== undefined) ? item.dynamicData.device.manufacture :  ''; 
                       deviceStr += (item.dynamicData.device.model !== undefined) ? ' (' + item.dynamicData.device.model + ')' :  ''; 
                       %>
                                <tr>
                                    <td class="collapsing">
                                        <%= item.clientID %>
                                    </td>
                                    <td class="collapsing"><i class="<%= flagCss %>"></i></td>
                                    <td class="collapsing">
                                        <%= item.dynamicData.clientIP %>
                                    </td>
                                    <td>
                                        <%= deviceStr %>
                                    </td>
                                    <td class="collapsing">
                                        <%= lsdate.toLocaleString('en-GB', { timeZone: 'UTC' }) %>
                                    </td>
                                    <td class="collapsing"><a href="/manage/<%= item.clientID %>/info&lang=<%= locale %>" class="ui button blue"><%= locale === 'zh' ? '管理' : 'Manage' %></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
        </div>
        <% include partials/footer.ejs %>
    </body>

</html>